/***************************************************************************************/
/*                                            estilo para styledtext.html              */
/*                                            autor: Sergio Ramos                      */
/*                                            versión: 1.0                             */
/*                                            comentario: praticando css externo       */
/***************************************************************************************/

/* selectores de etiqueta */
body {
    background-color: black;
    color:white;
}
h2{
    color: salmon;
}
/* selector de id,único */
#encabezadop1 {
    text-align: right;
}
/* selector de clase colectivo */
.centrado {
    text-align: center;
}
/* seletor contextual, añade contexto, más de un selector separados con espacios */
.centrado b {
    color:red;
}